body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/096/373/original/pexels-francesco-ungaro-281260.jpg?1694276260");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: right;
  color: #53596a;
}
.cell {
  opacity: 0.7;
  background-color: #9896f1;
}
.cell:hover {
  opacity: 1;
}

h1 {
  font-family: "Noto Serif Vithkuqi", serif;
  font-size: 30px;
}
#description::first-letter {
  text-transform: capitalize;
}
.temp .active {
  color: #212529;
  cursor: default;
  text-decoration: none;
  background: rgba(152, 150, 241, 0.4);
  border-radius: 8px;
}
.city,
.currentTime,
.percentages,
.temp,
.forecast,
.sun {
  font-size: 20px;
  text-align: center;
}
.percentages {
  box-shadow: -8px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
.temp {
  margin-top: 5px;
}

#dailyForecast {
  margin: 0 auto;
  text-align: center;
}
.weather-max,
.weather-min {
  padding: 0px;
}
.days,
.highlow {
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

.mainsun {
  transform: scale(1.5);
  padding-top: 5px;
}

footer {
  text-align: center;
  color: #28176d;
  background-color: rgb(236, 193, 215, 0.7);
  max-width: 700px;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
}
.git,
.resume,
.photographer {
  text-decoration: none;
  color: #260e75;
}
.git:hover,
.resume:hover,
.photographer:hover {
  text-decoration: underline;
}
@media (max-width: 500px) {
  h1 {
    text-align: center;
  }
}
